<div style="margin-left: 34px;">
<h2>Featured posts</h2> 
<ul style="list-style-type: none; margin: 0px;">
{% for post in site.posts %}
    {% if post.featured == true %}
      {% capture count %}{{ count | plus: '4' }}{% endcapture %}
    
        <li style="margin-left: -30px;"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a></li>
    
  {% endif %}
{% endfor %}
</ul>
<h2> Recent Articles </h2>
<ul style="list-style-type: none;">
{% for post in site.posts %}
<!--			<h2>
				{% for category in post.categories %}
				{{ category }} 
				{% endfor %} 
			</h2>-->
			<li  style="margin-left: -30px;">
			  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
{% endfor %}
</ul>
</div>
