
<div style="max-width: 300px;"><!-- class="profile {% if page.featured == true %} featured {% endif %}"> -->
   {% if site.author_image != "" %}<img style="margin-bottom: 10px" src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
	 <h1 style="margin:5px">Welcome!</h1>
   <p style="margin: 5px">{{ site.author_bio }}</p>
</div>
<div class="featured-post" >


<aside class="mobile-sidebar">
   <h2>Featured Posts</h2>
   <ul style="list-style-type: none; margin: 0px;">
   {% for post in site.posts %}
       {% if post.featured == true %}
         {% capture count %}{{ count | plus: '4' }}{% endcapture %}
           <li style="margin-left: -30px;"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a></li>
     {% endif %}
   {% endfor %}
   </ul>

   <h2>Recent Posts</h2>
   <ul style="list-style-type: none; margin: 0px;">
   {% for post in site.posts %}
      {% capture count %}{{ count | plus: '4' }}{% endcapture %}
        <li style="margin-left: -30px;"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a></li>
   {% endfor %}
   </ul>

   <br/>
   <br/>

</aside>
